    {% extends "base.html" %}

{% block title %}Register | Islamic Web{% endblock %}

{% block content %}
<h2>Create Account</h2>

<form method="post" class="auth-form">
  {% csrf_token %}

  {{ form.non_field_errors }}

  <p>
    {{ form.username.label_tag }}<br>
    {{ form.username }}
  </p>

  <p>
    {{ form.password1.label_tag }}<br>
    {{ form.password1 }}
  </p>

  <p>
    {{ form.password2.label_tag }}<br>
    {{ form.password2 }}
  </p>

  <button type="submit">Register</button>
</form>

<p>
  Already have an account?
  <a href="{% url 'login' %}">Login</a>
</p>
{% endblock %}
